<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_btm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{186,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,234}}</string>
                <key>sourceSize</key>
                <string>{186,234}</string>
            </dict>
            <key>0_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,188},{184,232}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{184,232}}</string>
                <key>sourceSize</key>
                <string>{206,234}</string>
            </dict>
            <key>1_btm.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,562},{186,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,234}}</string>
                <key>sourceSize</key>
                <string>{186,234}</string>
            </dict>
            <key>1_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{184,232}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{184,232}}</string>
                <key>sourceSize</key>
                <string>{206,234}</string>
            </dict>
            <key>2_btm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{186,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,234}}</string>
                <key>sourceSize</key>
                <string>{186,234}</string>
            </dict>
            <key>2_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{184,232}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{184,232}}</string>
                <key>sourceSize</key>
                <string>{206,234}</string>
            </dict>
            <key>3_btm.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,374},{186,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,234}}</string>
                <key>sourceSize</key>
                <string>{186,234}</string>
            </dict>
            <key>3_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,232}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{184,232}}</string>
                <key>sourceSize</key>
                <string>{206,234}</string>
            </dict>
            <key>4_btm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{186,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,234}}</string>
                <key>sourceSize</key>
                <string>{186,234}</string>
            </dict>
            <key>4_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,750},{206,232}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{206,232}}</string>
                <key>sourceSize</key>
                <string>{206,234}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>card.png</string>
            <key>size</key>
            <string>{474,958}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1784cd471c53eaf6f9e5ce4461cc01c2:1/1$</string>
            <key>textureFileName</key>
            <string>card.png</string>
        </dict>
    </dict>
</plist>
